

.page_outer {
	width: 8.5in;
	height: 11in;
	box-shadow: -.1in -.1in .5in darkgray, .1in .1in .5in gray;
	position: absolute ;	
}

.page_inner{
	margin: 1in;
	margin-top: .75in  
}

th {
	text-align: left ;
}

span {
	float: right;
	font-style:	italic;
}

ul  { margin-top: -1em; 
      margin-bottom: -1em;}  

h3  { margin-top: -.5em; 
    margin-bottom: -.5em;

}

.bod {
	width: 9in ;
	height: 11.5in;
	margin: auto ;
}

button {
	height: 50px;
  	width: 110px;
  	background-color: white;
	color: black;
	font-size: 20px;
	
}
button:hover{
	color: gray;
}

button:active  {
	background-color: white;
	color:black ;
}

body {
	background-color: white;
	color:black;
}